<div id="layoutSidenav_content">
    <main>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">
                    <a href="https://www.maasoft.com.ar" target="_blank" style="text-decoration: none; color: inherit;">
                        Copyright &copy; MAASoft 2025
                    </a>
                </div>
                <div>
                    <a href="#">Politicas Privacidad</a>
                    &middot;
                    <a href="#">Terminos &amp; Condiciones</a>
                </div>
            </div>
        </div>
    </footer>
</div>